#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk
#include /usr/share/rustc/architecture.mk

#export DH_VERBOSE=1
export BUILD_MODE=release

CARGO=/usr/bin/cargo

export CFLAGS CXXFLAGS CPPFLAGS LDFLAGS
export CARGO_HOME = $(CURDIR)/debian/cargo_home

export DEB_CARGO_CRATE=pve-rs_$(DEB_VERSION_UPSTREAM)
export DEB_CARGO_PACKAGE=pve-rs

ARCH:=$(shell dpkg-architecture -qDEB_HOST_ARCH)

ifeq ($(ARCH), riscv64)
RUST_TARGET=riscv64gc-unknown-linux-gnu
endif 

ifeq ($(ARCH), arm64)
RUST_TARGET=aarch64-unknown-linux-gnu
endif

ifeq ($(ARCH), loong64)
RUST_TARGET=loongarch64-unknown-linux-gnu
endif

ifeq ($(ARCH), amd64)
RUST_TARGET=x86_64-unknown-linux-gnu
endif

%:
	dh $@

override_dh_auto_build:
	 ${CARGO} build --release --target ${RUST_TARGET}

override_dh_auto_clean:
	echo ok
